/* Layout */

/* Override defaults */
html,
body, 
.col {
  margin: 0;
  padding: 0;
}

/* Include border and padding in element width and height */
* {
  box-sizing: border-box;
}

/* Branding / Styling */

body {
  font-family: Arial, Helvetica, sans-serif;
  color:white;
  background-color: #282c34;
  text-align: center;
}

/* Global Elements */

img {
  max-width: 50%;
  min-height: 89vh;
}

/* Custom Classes */

.rocket-container,
.launch-container {
  border: 1px solid green;
}

.main-carousel {
  min-width: 100vw;
}

.carousel-control-prev,
.carousel-control-next {
	padding-bottom: 30px;
	width: 4%;
}