/* Override defaults */
html,
body,
.col {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

/* Include border and padding in element width and height */
* {
  box-sizing: border-box;
}


/* Custom properties */
:root {
  --text-light: #fff;
  --bg-color-main: #090909;
  --bg-color-secondary: #222222;
}


/* Branding / Styling */

body {
  font-family: 'Titillium Web', Arial, Helvetica, sans-serif;
  color: var(--text-light);
  /* background-position: center; */
  background-size: cover;
  background-image: linear-gradient(var(--bg-color-main), var(--bg-color-secondary));
  text-align: center;
}

.app-name {
  font-weight: 700;
  margin: 3vh auto 2vh;
}


/* Layout */

.rocket-column {
  padding: 3% 3% 3% 8%;
}

.launch-column {
  padding: 3% 10% 3% 3%;
}

.main-carousel {
  min-width: 100vw;
}

.carousel-control-prev,
.carousel-control-next {
  padding-bottom: 30px;
  width: 4%;
}

.rocket-display {
  display: flex;
}

.rocket-image {
  max-height: 80vh;
}

.launch-patch {
  max-height: 20vh;
}


/* Accordion styles */

.accordion {
  min-width: 100%;
  border-style: none;
}

.accordion .card {
  margin-bottom: 1.5rem;
  background-color: transparent;
  border-style: none;
}

/* Override react-bootstrap styling */
.btn-link {
  color: var(--text-light); 
}

.btn-link:hover,
.btn-link:active,
.btn-link:visited {
  text-decoration: none;
  font-weight: 700;
  color: var(--text-light);
}

.accordion-header {
  border-bottom: 1px solid white;
}

